@using GroceryLine.Models;

<div class="line">
    <div class="line-start center-text">
        <p class="item-count line-start-text">@Line.TotalItemCount</p>
    </div>

    @foreach(Customer customer in Line.Customers)
    {
        <div class="customer center-text">
            <p class="item-count">@customer.ItemCount</p>
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Line Line { get; set; } = default!;
}
