@page "/"
@inject LinesService LinesService;
@using GroceryLine.Components
@using GroceryLine.Models;
@using GroceryLine.Services;

<PageTitle>Index</PageTitle>

<main class="display">
    <aside class="settings-wrapper">
        <InputCheckbox @bind-Value=LinesService.IsScanningItems />
        <InputNumber @bind-Value=CustomerItemCountToAdd />
        <button @onclick=OnCustomerAdd />
    </aside>
    <section class="lines-container">
        @foreach (Line line in Lines)
        {
            <LineComponent Line="line" />
        }
    </section>
</main>

@code {
    private List<Line> Lines { get => LinesService.Lines; }

    private int CustomerItemCountToAdd { get; set; }

    private void OnCustomerAdd()
    {
        LinesService.AddCustomer(CustomerItemCountToAdd);
    }
}