@page "/"
@inject LinesService LinesService;
@using GroceryLine.Components
@using GroceryLine.Models;
@using GroceryLine.Services;

<PageTitle>Index</PageTitle>

<main class="display">
    <aside class="settings-wrapper">

    </aside>
    <section class="lines-container">
        @foreach (Line line in Lines)
        {
            <LineComponent Line="line" />
        }
    </section>
</main>

@code {
    private List<Line> Lines { get => LinesService.Lines; }
}