.display {
    width: 100vw;
    height: 100vh;
    padding: 1% 5%;
    color: #ddd;
    overflow-x: hidden;
    /*overflow-x: s;*/
}

.settings-wrapper {
    width: 100%;
    /*height: 5em;*/
    padding-block-end: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.setting {
    margin-inline: 3em;
    margin-block-end: .5em;
}

.setting, .setting > label {
    /*flex: 1 1 auto;*/
    display: flex;
    flex-flow: row nowrap;

}

.lines-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 5%;
}

::deep .line {
    height: fit-content;
    flex: 1 1 10em;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25em;
    align-items: center;
}

::deep .line-start {
    width: 100%;
    max-width: 3em;
    aspect-ratio: 1 / 1;
    border: 0.1em solid var(--line-color);
    border-radius: 10%;
}

::deep .customer {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--customer-color);
    flex: 1 1 3em;
}

::deep .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

::deep .item-count {
    color: var(--bg-color);
    margin: 0px;
}

::deep .line-start-text {
    color: var(--line-color);
}

::deep *::selection {
    background-color: #de701a;
}